/*=== Heart ===*/
@keyframes heart {
  0% {
    transform: scale(1);
  }
  17.5% {
    transform: scale(0.5);
  }
}
#Heart_2_ {
  cursor: pointer;
  will-change: transform;
  transform-origin: 50% 50%;
  animation: heart 1.8s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  stroke: #fabf42;
  stroke-width: 7;
}

#Heart_2_N {
  cursor: pointer;
  will-change: transform;
  transform-origin: 50% 50%;
  animation: heart 1.8s cubic-bezier(0.17, 0.89, 0.32, 1.49);
  stroke: #fabf42;
  stroke-width: 7;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

#Thanks {
  position: absolute;
  top: 65%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #13414c;
  font-size: 5vh;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  animation: fadeInDown 1s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}

@keyframes bubble {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
    stroke-width: 0;
    stroke: rgba(233, 172, 193, 0);
  }
  15% {
    fill: #fff8c6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    stroke: #fff8c6;
    stroke-width: 6;
  }
  100% {
    fill: rgba(233, 172, 193, 0);
  }
}
#Circle {
  fill: #fff8c6;
  will-change: transform;
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: bubble 1.8s cubic-bezier(0.21, 0.61, 0.35, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes particle {
  0%,
  100% {
    opacity: 0;
  }
  40% {
    transform: translate(0, 0) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(0);
  }
}
[id*="Particle"] {
  will-change: transform;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 0;
  animation: particle 2.7s cubic-bezier(0.21, 0.61, 0.35, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
}

[id*="Particle"]:nth-child(1) {
  animation-duration: 1817ms;
}

[id*="Particle"]:nth-child(2) {
  animation-duration: 1727ms;
}

[id*="Particle"]:nth-child(3) {
  animation-duration: 1407ms;
}

[id*="Particle"]:nth-child(4) {
  animation-duration: 1426ms;
}

[id*="Particle"]:nth-child(5) {
  animation-duration: 1916ms;
}

[id*="Particle"]:nth-child(6) {
  animation-duration: 1679ms;
}

[id*="Particle"]:nth-child(7) {
  animation-duration: 1078ms;
}

[id*="Particle"]:nth-child(8) {
  animation-duration: 1594ms;
}

[id*="Particle"]:nth-child(9) {
  animation-duration: 1328ms;
}

[id*="Particle"]:nth-child(10) {
  animation-duration: 1077ms;
}

[id*="Particle"]:nth-child(11) {
  animation-duration: 1367ms;
}

[id*="Particle"]:nth-child(12) {
  animation-duration: 1599ms;
}

[id*="Particle"]:nth-child(13) {
  animation-duration: 1310ms;
}

[id*="Particle"]:nth-child(14) {
  animation-duration: 1414ms;
}

[id*="Particle"]:nth-child(15) {
  animation-duration: 1296ms;
}

[id*="Particle"]:nth-child(16) {
  animation-duration: 1678ms;
}

[id*="Particle"]:nth-child(17) {
  animation-duration: 1895ms;
}

[id*="Particle"]:nth-child(18) {
  animation-duration: 1242ms;
}

[id*="Particle"]:nth-child(1) {
  transform: translate(500%, 500%) scale(0);
}

[id*="Particle"]:nth-child(2) {
  transform: translate(250%, 500%) scale(0);
}

[id*="Particle"]:nth-child(3) {
  transform: translate(0, 500%) scale(0);
}

[id*="Particle"]:nth-child(4) {
  transform: translate(-250%, 500%) scale(0);
}

[id*="Particle"]:nth-child(5) {
  transform: translate(-500%, 500%) scale(0);
}

[id*="Particle"]:nth-child(6) {
  transform: translate(-500%, 250%) scale(0);
}

[id*="Particle"]:nth-child(7) {
  transform: translate(-500%, 0%) scale(0);
}

[id*="Particle"]:nth-child(8) {
  transform: translate(-500%, -250%) scale(0);
}

[id*="Particle"]:nth-child(9) {
  transform: translate(-500%, -500%) scale(0);
}

[id*="Particle"]:nth-child(10) {
  transform: translate(-250%, -500%) scale(0);
}

[id*="Particle"]:nth-child(11) {
  transform: translate(0%, -500%) scale(0);
}

[id*="Particle"]:nth-child(12) {
  transform: translate(250%, -500%) scale(0);
}

[id*="Particle"]:nth-child(13) {
  transform: translate(500%, -500%) scale(0);
}

[id*="Particle"]:nth-child(14) {
  transform: translate(500%, -250%) scale(0);
}

[id*="Particle"]:nth-child(15) {
  transform: translate(500%, 0%) scale(0);
}

[id*="Particle"]:nth-child(16) {
  transform: translate(500%, 250%) scale(0);
}

[id*="Particle"]:nth-child(17) {
  transform: translate(500%, 500%) scale(0);
}

[id*="Particle"]:nth-child(18) {
  transform: translate(500%, 500%) scale(0);
}
