<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tripplan.duck.mypage.model.mapper.MyPageMapper">
	<resultMap type="Destination" id="destinationResultMap">
		<id property="destNo" column="DEST_NO"/>
		<result property="destCategory" column="DEST_CATEGORY"/>
		<result property="destSubject" column="DEST_SUBJECT"/>
		<result property="destSummary" column="DEST_SUMMARY"/>
		<result property="destContent" column="DEST_CONTENT"/>
		<result property="destAddress" column="DEST_ADDRESS"/>
		<result property="destMapX" column="DEST_MAP_X"/>
		<result property="destMapY" column="DEST_MAP_Y"/>
		<result property="destLikeSum" column="DEST_LIKE_SUM"/>
		<result property="destRatingAvg" column="DEST_RATING_AVG"/>
		<result property="destHit" column="DEST_HIT"/>
		<result property="destCreateDate" column="DEST_CREATEDATE"/>
		<result property="destUpdateDate" column="DEST_UPDATEDATE"/>
		<result property="locationId" column="LOCATION_ID"/>
		<result property="destImage" column="DEST_IMAGE"/>
	</resultMap>
	
	<resultMap type="Location" id="locationResultMap">
		<id property="locationId" column="LOCATION_ID" />
		<result property="location" column="LOCATION" />
		<result property="lcenterx" column="LCENTERX" />
		<result property="lcentery" column="LCENTERY" />
		<result property="locationImage" column="LOCATION_IMAGE" />
      	<result property="locationTitle" column="LOCATION_TITLE" />
	</resultMap>

	<resultMap type="Comments" id="commentsResultMap">
		<id property="commentsId" column="COMMENTS_ID" />
		<result property="memberNo" column="M_NO" />
		<result property="commentsWriterId" column="COMMENTS_WRITER_ID" />
		<result property="commentsContent" column="COMMENTS_CONTENT" />
		<result property="commentsRating" column="COMMENTS_RATING" />
		<result property="commentsCreateDate" column="COMMENTS_CREATEDATE" />
		<result property="commentsUpdateDate" column="COMMENTS_UPDATEDATE" />
		<result property="destNo" column="DEST_NO" />
		<result property="destSubject" column="DEST_SUBJECT" />
		<result property="destCategory" column="DEST_CATEGORY" />
	</resultMap>
	
	<resultMap type="com.tripplan.duck.planner.model.vo.MyPlanner" id="MyPlannerResultMap">
		<id property="pNo" column="P_NO" />
		<result property="mNo" column="M_NO" />
		<result property="demo" column="TOURDATE" />
		<result property="route" column="ROUTE" /> 
		<association property="loc" javaType="Location" columnPrefix="L_" resultMap="locationResultMap">
		</association>
		<collection property="loca" javaType="arrayList" columnPrefix="R_" resultMap="locationInsertMap"></collection>
	</resultMap>
	
	<resultMap type="com.tripplan.duck.planner.model.vo.Location" id="locationInsertMap">
		<id property="locationId" column="LOCATION_ID" />
		<result property="location" column="LOCATION" />
		<result property="lcenterx" column="LCENTERX" />
		<result property="lcentery" column="LCENTERY" />
		<result property="image" column="LOCATION_IMAGE" />	
	</resultMap>
	
	<resultMap type="com.tripplan.duck.trip.model.vo.Destination" id="DestFindResultMap">
		<id property="pNo" column="P_NO" />
		<result property="destNo" column="DEST_NO" />
		<result property="destCategory" column="DEST_CATEGORY" />
		<result property="destSubject" column="DEST_SUBJECT" />
		<result property="destSummary" column="DEST_SUMMARY" />
		<result property="destContent" column="DEST_CONTENT" />
		<result property="destAddress" column="DEST_ADDRESS" />
		<result property="destMapX" column="DEST_MAP_X" />
		<result property="destMapY" column="DEST_MAP_Y" />
		<result property="destLikeSum" column="DEST_LIKE_SUM" />
		<result property="destRatingAvg" column="DEST_RATING_AVG" />
		<result property="destHit" column="DEST_HIT" />
		<result property="destCreateDate" column="DEST_CREATEDATE" />
		<result property="destUpdateDate" column="DEST_UPDATEDATE" />
		<result property="locationId" column="LOCATION_ID" />
		<collection property="loca" javaType="arrayList" columnPrefix="R_" resultMap="locationInsertMap"></collection>
	</resultMap>
	
	<resultMap type="com.tripplan.duck.planner.model.vo.DetailPlanner" id="detailPlannerResultMap">
		<id property="pNo" column="P_NO" />
		<result property="sqes" column="SEQS"/>
		<result property="place" column="PLACE"/>
		<result property="image" column="IMAGE"/>
	</resultMap>
		
	<select id="selectMyPlannerByMNo" resultMap="MyPlannerResultMap">
		SELECT
			ROWNUM,
			a.*
		FROM
			(SELECT
				mp.p_no,
				mp.m_no,
				mp.tourdate,
				l.location_id as L_LOCATION_ID,
				l.location as L_LOCATION,
				l.location_image as L_LOCATION_IMAGE,
				l.LCENTERX as L_LCENTERX,
				l.LCENTERY as L_LCENTERY,
				m.M_NICKNAME as M_NICKNAME,
               	(SELECT LISTAGG(place, ' > ') WITHIN GROUP(ORDER BY seqs) AS place
				  FROM detail_planner
				WHERE p_no = MP.P_NO
				 GROUP BY p_no
				 ) route
   
			FROM 
				MY_PLANNER mp JOIN LOCATION L
				ON mp.LOCATION_ID = l.LOCATION_ID
				JOIN MEMBER m ON mp.m_no = m.M_NO
			WHERE
				mp.M_NO = #{memberNo}
			ORDER BY
				mp.p_no DESC
				) a
		WHERE
			ROWNUM &lt;= (#{offset} * 3)
		
	</select>
	
	<select id="selectCommentsByMNo" resultMap="commentsResultMap">
		SELECT
			rownum,
			a.*
		FROM
			(SELECT
				dc.COMMENTS_ID,
				dc.M_NO,
				dc.COMMENTS_WRITER_ID,
				dc.COMMENTS_CONTENT,
				dc.COMMENTS_RATING,
				dc.COMMENTS_CREATEDATE,
				dc.COMMENTS_UPDATEDATE,
				dc.DEST_NO,
				d.DEST_CATEGORY,
				d.DEST_SUBJECT
				
			FROM
				DESTINATION_COMMENTS dc JOIN DESTINATION D
				ON dc.DEST_NO = d.dest_no
			WHERE
				m_no = #{memberNo}
			ORDER BY
				dc.comments_id desc
				) a
		WHERE
			rownum &lt;= (#{offset} * 3)
	</select>
	
	<select id="selectTripByMNo" resultMap="destinationResultMap">
		SELECT
			rownum,
			a.*
		FROM
			(SELECT
				dl.DEST_NO,
				dl.M_NO,
				d.DEST_CATEGORY,
				d.DEST_SUBJECT,
				d.DEST_SUMMARY,
				d.DEST_CONTENT,
				d.DEST_ADDRESS,
				d.DEST_MAP_X,
				d.DEST_MAP_Y,
				d.DEST_LIKE_SUM,
				d.DEST_RATING_AVG,
				d.DEST_HIT,
				d.DEST_CREATEDATE,
				d.DEST_UPDATEDATE,
				d.LOCATION_ID,
				NVL(d.DEST_IMAGE, '/duck/images/trip/noImage.jpeg' ) DEST_IMAGE
			FROM
				DESTINATION_LIKE dl JOIN DESTINATION D
				ON dl.DEST_NO = d.dest_no
			WHERE
				m_no = #{memberNo}
			ORDER BY
				d.dest_no DESC) a
		WHERE 
			rownum &lt;= (#{offset} * 3)
	</select>
	
	
	<!-- 추가 22.10.12 -->

		<select id="selectMyPlannerByMNoNewPaging" resultMap="MyPlannerResultMap">
			SELECT
				mp.p_no,
				mp.m_no,
				mp.tourdate,
				l.location_id as L_LOCATION_ID,
				l.location as L_LOCATION,
				l.location_image as L_LOCATION_IMAGE,
				l.LCENTERX as L_LCENTERX,
				l.LCENTERY as L_LCENTERY,
				m.M_NICKNAME as M_NICKNAME,
				(SELECT LISTAGG(place, ' > ') WITHIN GROUP(ORDER BY seqs) AS place
				  FROM detail_planner
				WHERE p_no = MP.P_NO
				 GROUP BY p_no
				 ) route
			FROM 
				MY_PLANNER mp JOIN LOCATION L
				ON mp.LOCATION_ID = l.LOCATION_ID
				JOIN MEMBER m ON mp.m_no = m.M_NO
			WHERE
				mp.M_NO = #{memberNo}
			ORDER BY
				mp.p_no DESC
			OFFSET #{offset} ROWS FETCH NEXT #{end} ROWS ONLY
	</select>
	
	<select id="selectCommentsByMNoPaging" resultMap="commentsResultMap">
		SELECT
				dc.COMMENTS_ID,
				dc.M_NO,
				dc.COMMENTS_WRITER_ID,
				dc.COMMENTS_CONTENT,
				dc.COMMENTS_RATING,
				dc.COMMENTS_CREATEDATE,
				dc.COMMENTS_UPDATEDATE,
				dc.DEST_NO,
				d.DEST_CATEGORY,
				d.DEST_SUBJECT
			FROM
				DESTINATION_COMMENTS dc JOIN DESTINATION D
				ON dc.DEST_NO = d.dest_no
			WHERE
				m_no = #{memberNo}
			ORDER BY
				dc.comments_id desc
			OFFSET #{offset} ROWS FETCH NEXT #{end} ROWS ONLY
	</select>
	
		
	<select id="selectTripByMNoNewPaging" resultMap="destinationResultMap">
			SELECT
				dl.DEST_NO,
				dl.M_NO,
				d.DEST_CATEGORY,
				d.DEST_SUBJECT,
				d.DEST_SUMMARY,
				d.DEST_CONTENT,
				d.DEST_ADDRESS,
				d.DEST_MAP_X,
				d.DEST_MAP_Y,
				d.DEST_LIKE_SUM,
				d.DEST_RATING_AVG,
				d.DEST_HIT,
				d.DEST_CREATEDATE,
				d.DEST_UPDATEDATE,
				d.LOCATION_ID,
					NVL(d.DEST_IMAGE, '/duck/images/trip/noImage.jpeg' ) DEST_IMAGE
			FROM
				DESTINATION_LIKE dl JOIN DESTINATION D
				ON dl.DEST_NO = d.dest_no
			WHERE
				m_no = #{memberNo}
				<if test='locationId != null and 999 > locationId'>
				AND d.LOCATION_ID = #{locationId}		
				</if>
			ORDER BY
				d.dest_No DESC
			OFFSET #{offset} ROWS FETCH NEXT #{end} ROWS ONLY	
	</select>
	
	
	<select id="getOptions" resultType="com.tripplan.duck.planner.model.vo.Location">
		select location_id as locationId, location from location
	</select>
	
	<delete id="deleteLikeTrip">
		delete DESTINATION_LIKE where dest_no = #{no} and m_no = #{mno}
	</delete>
	
	<delete id="deleteReview">
		delete DESTINATION_COMMENTS where comments_id = #{no} and m_no = #{mno}
	</delete>

	<delete id="deletePlan">
		delete MY_PLANNER where p_no = #{no} and m_no = #{mno}
	</delete>
	
	<update id="updateMyProfile">
		update member
			set m_nickname = #{memberNickname},
				m_pw = #{memberPassword},
				m_email = #{memberEmail},
				m_gender = #{memberGender},
				m_age = #{memberAge}
			where 
				m_id = #{memberId}
	</update>
	
	<update id="memberDropOut">
		update member
			set m_status = 'N'
			where
				m_no = #{memberNo}
	</update>
	
</mapper>