/* div {
    border: solid 1px red;
}

li {
    border: solid 1px red;
} */

/* 상위 컨테이너 */
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userMypageMenu {
    display: flex;
}

.nickName {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}

.btn-outline-warning {
    background-color: #fff8c6;
    color: black;
}

.btn-outline-warning:hover {
    background-color: #fff8c6;
}

/* 탭메뉴 */
.nav-link {
    color: black;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: #fabf42;
    font-size: 1.7rem;
}

/* 여행지 필터 */
.form-control {
    float: right;
    margin-bottom: 15px;
    cursor: pointer;
}

.form-control:hover,
.form-control:focus,
.form-control::after {
    border: 1px solid #fff8c6;
    outline: 3px solid #fff8c6;
    box-shadow: 0 0 0 0.2rem #fff8c6;
}

select option {
    border-radius: 4px;
}

select option:checked,
select option:hover
select option:focus {
    background: #fff8c6;
    cursor: pointer;
}

/* 카드 */
.card-body {
    padding: 2.25rem;
}

.likeCard {
    width: 800px;
    height: 200px;
}

.imgSize {
    width: 240px;
    height: 220px;
    padding-bottom: 20px;
    cursor: pointer;
}

.likeCard:hover {
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px #fff8c6;
    border: 1px solid #fff8c6;
}

/* 작성한 리뷰 카드 */
.commentCard {
    width: 800px;
    height: 200px;
    margin-bottom: 5px;
}

.destination {
    display: flex;
    align-items: right;
}

.card-title {
    color: #fabf42;
}

.separator {
    padding-left: 5px;
    color: #6c757d;
    transform: translate(10%, 8%);
}

.card-area {
    font-size: 1.1rem;
    transform: translate(14%, 16%);
}

.info-container-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.title {
    color: #fabf42;
}

.text-content {
    color: black;
    transform: translate(2%, 2%);
    padding-left: 5px;
}

.card-text {
    font-size: 1.22rem;
}

/* 내 여행지 하트 */
.fa-heart {
    color: #fabf42;
    float: right;
    transform: translate(94%, -56%);
}

/* 나의 리뷰 별점 */
.star-rating {
    display: flex;
    float: right;
    transform: translate(34%, -75%);
}

.star {
    color: #fabf42;
    font-size: 1.3rem;
}

.commentsRating {
transform: translate(31%, 8%);
font-size: 1.4rem;
}

/* 더보기 */
.wrap-downChevron {
    text-align: center;
}

.down-chevron {
    cursor: pointer;
    height: 40px;
    width: 40px;
    -webkit-filter: opacity(.3) drop-shadow(1px 1px 1px #fff8c6);
    filter: opacity(.3) drop-shadow(1px 1px 1px #fff8c6);
    -webkit-filter: opacity(.4) drop-shadow(4px 4px 4px #fff8c6);
    filter: opacity(.4) drop-shadow(4px 4px 4px #fff8c6);
}

.down-chevron:active {
    position: relative;
    top:2px;
    -webkit-filter: opacity(.1) drop-shadow(1px 1px 1px #808080);
    filter: opacity(.1) drop-shadow(1px 1px 1px #808080);
}

/* 카드 버튼 */
.plannerCard-btns {
	float: right;
    align-items: flex-end;
    transform: translate(14%, 9%);
}
.card-btns {
    float: right;
    align-items: flex-end;
    transform: translate(7%, -103%);
}

/* no data */
.nodataImg {
    width: 130px;
    height: 162px;
    transform: translate(20%, 6%);
}

.nodata {
    transform: translate(122%, -1%);
}

/* 비밀번호 모달 */
.modal-header {
    background-color: #fff8c6;
}

.inputPwd {
    border: 1px solid #fabf42;
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

#inputPwd input[type="text"]:focus {
	/* border: 1px solid #fabf42; */
    /* width: 300px; */
    /* height: 40px; */
    /* border-radius: 5px; */
    outline: none;
    opacity: 1;
}

.modal-footer {
	display: flex;
	justify-content: space-between;
}

/* 비밀번호 모달의 오류 메세지  */
.error-msg {
	color : red
}

