.allDiv {
    width: 1100px;
    height: 800px;
    border: 1px solid;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.leftDiv {
    border-right: 1px solid;
    /* width: 28%; */
    height: 100%;
    float: left;
    width: 20%;
}

.rightDiv {
    /* width: 71.89%; */
    width: calc(100% - 20% - 1px);
    height: 100%;
    float: right;
}

 

/* 왼쪽 zone */

.chatListContainer {
    border-bottom: 1px solid;
    width: 100%;
    height: 30%;
}

.chatListTitle {
    border-bottom: 1px solid;
    width: 100%;
    height: 25%;
    text-align: center;
    display: table;
}

.title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14pt;
}


.profile {
    /* width: 15%; */
    float: left;
    width: 17%;
    position: relative;
    top: 5px;
}

.chatPerContainer {
    width: 100%;
    height: 70%;
}

.chatPer {
    border-bottom: 1px solid;
    width: 100%;
    height: 10%;
    text-align: center;
    display: table;
}

.chatPerList {
    height: 90%;
}

.withOut {
    display: inline-block;
}

.withOut .exit {
    width: 50%;
}

.profile_name {
    height: 9%;
    display: flex;
    align-items: center;
}

.chat_profile {
    width: 20%;
    height: 100%;
    display: inline-block;
}

.chat_profile img {
    width: 30px;
    position: relative;
    top: 20%;
    left: 10%;
}

.chat_name {
    display: inline-block;
    position: relative;
    top: 2%;
    left: -3%;
}

.withTitle {
    overflow: scroll;
    height: 75%;
}

.chatList{
    display: flex;
    width: 100%;
    border-bottom: 1.8px solid #a7a2a28f;
    padding-bottom: 8px;
}
.imgdiv {
    width: 20%;
}
.chatList > .imgdiv > img {
    width: 30px;
}
.textdiv {
    width: 100%; 
}
.imgdiv img {
    width: 30px;
    margin-top: 10px;
    margin-left: 4px;
}

.imgdiv-right {
    width: 80%;
    margin-top: 11px;
}

.textdiv1 a {
    font-size: 10px;
    color: black;
}

.textdiv1, .textdiv2 {
    font-size: 10px;
}

.textdiv1 {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textdiv2 img {
    width: 10px;
    margin-left: 5px;
}


/* 오른쪽 zone */
#exitBtn {
	border: 0px;
	background: white;
}

.chatTitle {
	display: flex;
	align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    height: 9%;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatContent {
    background-color: gainsboro;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.inputChat {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.message-box {
    width: 900px;
    margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-box img {
    width: 6%;
    position: relative;
    bottom: 6px;
}

.withChat_title {

}

.exit {
    width: 40px; 
    height: auto;
    float: left;
    position: relative;
    top: 20%;
}

.message-input {
    margin: auto;
    width: 90%;
    border-radius: 9px;
    resize: none;
    position: relative;
    top: 15px;

}

.wrap {
    padding: 10px 0;
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}

.wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: white;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: white;
}

#button-send {
	width: 5%;
	border: 0;
	background: white;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}

.fa-solid img{
    width: 50px; 
    height: 50px; 
    object-fit: cover;
    position: relative;
    bottom: 18px;
}

.chat_entry {
    text-align: center;
    position: relative;
    top: 20px;
}