<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tripplan.duck.planner.model.mapper.LocationMapper">
	<select id="createTrip" resultType="com.tripplan.duck.planner.model.vo.Location">
		SELECT LOCATION_ID, LOCATION FROM LOCATION
	</select>
</mapper>