.all_title {
    background-image: url(../../IMG/WithDuck/동행이미지.png); background-position: center;
    background-repeat : no-repeat;
    background-size : cover;
    height: 500px;
    width: 100%;
    margin: auto;
}

.img_textContainer {
    width: 100%; 
    height: 100%; 
    /* display : flex; 
    justify-content : center; 
    align-items : center; */
    text-align: center;
}

.img_text {
    color: white;
    font-weight: bold;
    position: relative;
    top: 50%;
}
    
    /************************************************************* zone 1 *****************************************************************/
    .carousel_container {
        text-align: center;
        margin: auto;
        width: 80%;
        height: 30%;
        margin-top: 100px;
    }

    .slide {
        width: 1000px;
        height: 500px;
        margin: auto;
    }

    .carousel-inner {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .car-img {
        /* width: 1000px;
        height: 500px !important;
        object-fit: cover; */
        
        position: absolute; top:0; left: 0;
        width: 1000px;
        height: 500px !important;
        object-fit: cover;
        /* position: relative;
        top: 30%; */
    }

    .carousel-inner {
        background-color: rgb(192, 192, 192);
    }

    .file {
        padding: 6px 25px; 
        background-color: yellowgreen; 
        border-radius: .75em; color: white; 
        cursor: pointer; 
        font-weight: bold; 
    }

    .file:hover {
        background-color: green;
    }

    .empty {
        position: relative;
        top: 40%;
    }

    .carousel-item {
        height: 500px;
    }
    /****************************************************** zone2 ********************************************************/
    .filter div {
        height: 50px;
    }

    .zone2 {
        position: relative;
        top: -130px;
    }

    /* .zone2 a {
        text-decoration: none; color: black;
    } */

    .filter_containerValue button {
        border: 0;
        outline: 0;
        background-color: white;
    }

    .location_btn.selected{
        color:greenyellow;
    }

    .gender_btn.selected{
        color:greenyellow;
    }


    .filter {
        margin: auto;
        margin-top: 150px;
        width: 600px;
        /* height: 150px !important;  */
        display: flex; 
        background-color: white; 
        border: 2px solid rgb(255, 248, 198);
        position: relative;
        top: 25%;
    }

    .filter_container {
        font-size: small; 
        font-weight: bold; 
        border-right: grey solid;  
        width: 70px; 
        height: 100% !important; 
        display: block 
    }

    .filter_container div {
        display: block; width: 100%;

    }

    .filter_containerValue {
        display: block; 
        margin-left: 30px; 
        font-size: small;
    }

    .location_value {
        text-align: left; 
        width: 500px; 
        height: 100%; 
        display: flex;
    }

    .location_value div {
        display: block; 
        width: 100%;
    }

    .gender_value {
        display: inline-block; 
        float: left;
    }

    .form-range {
        width: 85%;
        transform: translate(-30px, 6px);
        margin-right: 10px;
    }

    .zone2 {
        text-align: center;
        height: 340px;
    }

    .date_container {
        position: relative;
        top: 60%;
        text-align: initial;
    }

    .start_container {
        display: inline-block;
    }

    .end_container {
        display: inline-block;
        position: relative;
        left: 20%;
    }

        /************************************************************* zone 3 *****************************************************************/
        .zone3 {
            position: relative;
            top: -100px;
        }
        
        .content_container {
            width: 80%;
            margin: auto;
        }

        .content_container p {
            margin: 0;
        }

        .with_title {
            width: 100%;
            border-radius: 5px;
            border: 2px solid rgb(255, 248, 198);
        }

        .with_content {
            width: 100%;
            resize: none;
            border: 2px solid rgb(255, 248, 198);
        }

        .with_title:focus {
            outline: 2px solid rgb(216, 201, 85);
        }

        .with_content:focus {
            outline: 2px solid rgb(216, 201, 85);
        }

        #submit {
            border: 0;
            outline: 0;
            background-color: skyblue;
            width: 100px;
            height: 40px;
            border-radius: 10px;
        }

        #return {
            border: 0;
            outline: 0;
            background-color: rgb(202, 120, 120);
            width: 100px;
            height: 40px;
            border-radius: 10px;
        }

        #submit:hover {
            background-color: rgb(97, 97, 224);
        }

        #return:hover {
            background-color: red;
        }