
  /************************************************************** zone 1 ******************************************************************/
.zone1 {
    background-image: url(../../IMG/WithDuck/동행이미지.png); background-position: center;
    background-repeat : no-repeat;
    background-size : cover;
    height: 500px;
    width: 1140px;
    margin: auto;
    position: relative;
    bottom: 20px;
}

.img_textContainer {
    width: 100%; 
    height: 100%; 
    display : flex; 
    justify-content : center; 
    align-items : center;
    margin-top: 100px;
}
.img_text {
    color: white;
    font-weight: bold;
}
/************************************************************** zone 2 ******************************************************************/
/* .filter div {
    height: 50px;
} */



.zone2 {
    position: relative;
    top: -130px;
}
.filter_containerValue button {
    border: 0;
    outline: 0;
    background-color: white;
}
.location_btn.selected{
    color:#ffc107;
    font-weight: bold;
}

.location_btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 80px;
}

.gender_btn {
    margin-left: 10px;
}

.age_btn {
    margin-left: 10px;
}

#dropdownMenuButton1 {
    color: black;
  }
  
  .dropdown-toggle::after {
    display: none !important;
  }

.gender_btn.selected{
    color:#ffc107;
    font-weight: bold;
}
.age_btn.selected{
    color:#ffc107;
    font-weight: bold;
}
.filter {
    margin: auto;
    margin-top: 150px;
    width: 900px;
    /* height: 150px !important;  */
    display: flex; 
    background-color: white; 
    border: 3px solid #a7a2a28f;
    position: relative;
    top: 25%;
    height: 307.8px;
    border-left: none;
    border-right: none;
}
.filter_container {
    font-size: small; 
    font-weight: bold; 
    border-right: 1.5px #a7a2a28f solid;  
    width: 70px; 
    height: 100% !important; 
    display: block; 
    background-color: #a7a2a214;
}


.filter_container div {
    display: block; width: 100%;
}
.filter_containerValue {
    display: block; 
    font-size: small;
    width: 100%;
}
.location_value {
    text-align: left; 
    width: 100%; 
    height: 50.8px; 
    display: flex;
    border-bottom: 1px solid #a7a2a28f ;
}
.location_value div {
    display: flex; 
    width: 100%;
}
.gender_value {
    display: flex;
    height: 50.8px;
    width: 100%;
    border-bottom: 1px solid #a7a2a28f ;
}

.age_value {
    display: flex;
    height: 50.8px;
    width: 100%;
    border-bottom: 1px solid #a7a2a28f ;
}

/* .form-range {
    width: 85%;
    margin-top: 15px;
    position: relative;
    right: 40px;
} */

.form-range {
    width: 88%;
    border-radius: 8px;
    outline: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, #ffe283 0%, #ffe283 50%, #ececec 50%, #ececec 100%);
    accent-color: #ffca1d;
    position: relative;
    right: 20px;
    margin-left: 35px;
    width: 100%;
}

.zone2 {
    text-align: center;
    height: 340px;
}
.date_container {
    position: relative;
    bottom: 20px;
    text-align: initial;
    display: flex;
    align-items: center;
    height: 50.8px;
}
.start_container {
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-left: 10px;
}
.end_container {
    display: flex;
    justify-content: center;
    align-items:center ;
    position: relative;
    left: 20%;
}

.date_container label {
    margin-bottom: 0px;
}

.filter-btn {
    text-align: center;
    position: relative;
    top: 130px;
    display: block;
}



.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-warning {
    background-color: #fff8c6;
    color: black;
    width: 140px;
    font-size: 14px;
    margin-right: 10px;
}

.btn-outline-warning:hover {
    background-color: #fff8c6;
}

.go {
    position: relative;
    left: 160px;
}

/************************************************************** zone 3 ******************************************************************/
.bg-light {
    background-color: white !important;
    border: none !important;
}
.title {
    margin: 0px;
}
.intro-img {
    width: 100%;
    height: 156px;
}
.nickName {
    display: inline-block;
}
.nickName img {
    width: 24px; height: auto;
}
.good {
    display: inline-block; 
    float: right; 
    margin-left: 10px;
}
.readCount {
    display: inline-block; 
    float: right;
}