.allDiv {
    width: 80%;
    height: 800px;
    border: 1px solid;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.leftDiv {
    border-right: 1px solid;
    width: 28%;
    height: 100%;
    float: left;
}

.rightDiv {
    width: 71.89%;
    height: 100%;
    float: right;
}

/* 왼쪽 zone */

.chatListContainer {
    border-bottom: 1px solid;
    width: 100%;
    height: 30%;
}

.chatListTitle {
    border-bottom: 1px solid;
    width: 100%;
    height: 25%;
    text-align: center;
    display: table;
}

.title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14pt;
}

.chatList {
    width: 100%;
    height: 75%;
}

.chatList ul {
    list-style: none;
    padding-left: 0;
}

.chatList img {
    width: 30px;
}

.chatPerContainer {
    width: 100%;
    height: 70%;
}

.chatPer {
    border-bottom: 1px solid;
    width: 100%;
    height: 60px;
}

.chatPerList {
    height: 513px;
}

/* 오른쪽 zone */

.chatTitle {
    border-bottom: 1px solid;
    width: 100%;
    height: 9%;
}

.chatContent {
    background-color: gainsboro;
    width: 100%;
    height: 80%
}

.inputChat {
    width: 100%;
    height: 10.88%;
    
}