.zone1 {
    width: 80%;
    height: 90%;
    /* text-align: center; */
    margin: auto;
}

.zone1_1 {
    width: 30%;
}

.chatListTitle {
    text-align: center;
    font-weight: bold;
}

td p {
    display: inline-block;
    font-size: 10px;
    margin-bottom: 0px;
}

td {
    border: 1px solid;
}
p img {
    width: 20px;
}