/* owl-carousel */
.owl-dots {
  display: none;
}

.customPrevBtn,
.customNextBtn {
  background: none;
  border: none;
  color: #999999;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 400px) {
  .pbPrevBtn,
  .pbNextBtn {
    display: none;
  }
}

/* main slide */
.carousel-item h3 {
  color: #fff8c6;
  float: left;
}

/* dropdown */
#dropdownMenuButton1 {
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

/* tabs */

.tabs {
  position: relative;
  margin: 0 0 30px 0;
}

.tab-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  border-bottom: 1px solid #ddd;
  list-style: none;
  padding: 0 15px;
}

.tab-nav li {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-left: 0;
  height: 41px;
  text-align: center;
}

.tabs-justify .tab-nav li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-nav li:first-child {
  border-left: 1px solid #ddd;
}

.tab-nav li a {
  display: block;
  padding: 0 15px;
  color: #444;
  height: 40px;
  line-height: 40px;
  background-color: #f2f2f2;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .tab-nav li a {
    font-size: 0.875rem;
  }
}

.tab-nav li.ui-tabs-active a {
  position: relative;
  top: 1px;
  background-color: #fff;
}

.tabs-bb .tab-nav {
  padding: 0;
}

.tabs-tb .tab-nav li.ui-tabs-active a {
  top: -1px;
  height: 43px;
  line-height: 38px;
  border-top: 2px solid #fff8c6;
}

.tabs-alt.tabs-tb .tab-nav li.ui-tabs-active a {
  height: 42px;
}
