<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tripplan.duck.member.model.mapper.MemberMapper">
	<sql id="selectMemberSql">
		SELECT M_NO,
		       M_ID,
		       M_PW,
		       M_NICKNAME,
		       M_EMAIL,
		       M_TYPE,
		       M_WARNING,
		       M_STATUS,
		       M_GENDER,
		       M_AGE,
		       M_SNSID
		FROM MEMBER
	</sql>

	<resultMap type="Member" id="memberResultMap">
		<id property="memberNo" column="M_NO" />
		<result property="memberId" column="M_ID"/>
		<result property="memberPassword" column="M_PW"/>
		<result property="memberNickname" column="M_NICKNAME"/>
		<result property="memberEmail" column="M_EMAIL"/>
		<result property="memberType" column="M_TYPE"/>
		<result property="memberWarning" column="M_WARNING"/>
		<result property="memberStatus" column="M_STATUS"/>
		<result property="memberGender" column="M_GENDER"/>
		<result property="memberAge" column="M_AGE"/>
	</resultMap>

	<select id="selectCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>

	<select id="selectAll" resultMap="memberResultMap">		
		<include refid="selectMemberSql"/>
		WHERE M_STATUS = 'Y'
	</select>

	<select id="selectMemberById" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql"/>
		WHERE M_ID = #{memberId} AND M_STATUS = 'Y'
	</select>
	
	<select id="selectMemberByNickname" parameterType="string" resultMap="memberResultMap">
		<include refid="selectMemberSql"/>
		WHERE M_NICKNAME = #{memberNickname} AND M_STATUS = 'Y'
	</select>

	<insert id="insertMember" parameterType="Member"
			useGeneratedKeys="true" keyColumn="M_NO" keyProperty="memberNo"> 
		INSERT INTO MEMBER (
			M_NO,
			M_ID,
			M_PW,
			M_NICKNAME,
			M_EMAIL,
			M_TYPE,
			M_WARNING,
			M_STATUS,
			M_GENDER,
			M_AGE
		) VALUES(
			SEQ_MEMBER_NO.NEXTVAL,
			#{memberId},
			#{memberPassword},
			#{memberNickname},
			#{memberEmail},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{memberGender},
			#{memberAge}
		)	
	</insert>
	
	<!-- 아이디 찾기 -->
	<select id="findMemberId" parameterType="String" resultType="String">
		SELECT M_ID FROM MEMBER WHERE M_EMAIL = #{memberEmail}
	</select>
	
	<!-- 임시비밀번호 -->
	<update id="updateMemberPassword" parameterType="Member">
		UPDATE MEMBER SET M_PW = #{memberPassword} WHERE M_ID = #{memberId}
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE MEMBER 
		SET 
			NAME = #{name},
			PHONE = #{phone},
			EMAIL = #{email},
			ADDRESS = #{address},
			HOBBY = #{hobby},
			MODIFY_DATE = SYSDATE 
		WHERE NO = #{no}
	</update>
	
	<delete id="deleteMember" parameterType="_int">
		DELETE FROM MEMBER WHERE NO = #{memberNO}
	</delete>
	
	<!-- 카카오 회원가입 -->
	<insert id="kakaoInsert">
	    INSERT INTO MEMBER (
			M_NO,
			M_ID,
			M_PW,
			M_NICKNAME,
			M_EMAIL,
			M_TYPE,
			M_WARNING,
			M_STATUS,
			M_GENDER,
			M_AGE,
		    M_SNSID
	    ) VALUES(
			SEQ_MEMBER_NO.NEXTVAL,
			#{memberId},
			#{memberPassword},
			#{memberNickname},
			#{memberEmail},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{memberGender},
			#{memberAge},
		    #{memberSnsId}
	    )
	</insert>
	
	<!-- 카카오 회원 로그인 -->
	<select id="kakaoSelect" parameterType="String" resultMap="memberResultMap">
		SELECT M_NO,
		       M_ID,
		       M_PW,
		       M_NICKNAME,
		       M_EMAIL,
		       M_TYPE,
		       M_WARNING,
		       M_STATUS,
		       M_GENDER,
		       M_AGE,
		       M_SNSID
		FROM MEMBER
		WHERE M_SNSID = #{memberSnsId}
	</select>
	
	<select id="findUserIdBy2" parameterType="String" resultType="String">
		SELECT M_ID FROM MEMBER WHERE M_SNSID = #{memberSnsId}
	</select>
	
	
	
</mapper>