/* font-family ������Ʈ - pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
        "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

p {
  margin: 0;
}

/* owl-carousel */
.owl-dots {
  display: none;
}

.customPrevBtn,
.customNextBtn {
  background: none;
  border: none;
  color: #999999;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 400px) {
  .pbPrevBtn,
  .pbNextBtn {
    display: none;
  }
}
.owl-nav {
  display: none;
}

/* 메인페이지 슬라이드 */
.carousel-item h4 {
  color: #fff8c6;
}

.carousel-caption {
  top: 5rem;
  bottom: auto;
}

.owl-text-overlay {
  position: absolute;
  text-align: center;
  width: 60%;
  top: 90%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  color: #fff;
  padding-bottom: 20px;
}

.owl-text-overlay h4 {
  font-weight: 700;
}

.main-photo-linear {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.carousel_tone{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.12);
}

/* 메인 페이지 카드 */
.card {
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 15px 1px rgba(201, 201, 201, 0.5);
}

.card-img {
	width:100%;
	height:254px;
}

.card:hover {
  cursor: pointer;
}

.card:hover img {
  transform: scale(1.3);
  transition: transform 0.4s;
}

img {
  transition: transform 0.4s;
}

.card-body p {
  font-size: 0.9rem;
}

/* 정렬 선택 드롭다운 */
#dropdownMenuButton1 {
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.card-title {
  font-family: Montserrat;
}

/* === TripDetail.html ===*/
/* 탭 */
.tabs {
  position: relative;
  margin: 0 0 30px 0;
}

.tab-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0 15px;
}

.tab-nav li {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-left: 0;
  height: 41px;
  text-align: center;
}

.tabs-justify .tab-nav li {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.tab-nav li:first-child {
  border-left: 1px solid #ddd;
}

.card-tab {
  border: 1px solid #ddd;
}

.tab-nav li a {
  display: block;
  padding: 0 15px;
  color: #444;
  height: 40px;
  line-height: 40px;
  background-color: #f4f3f1;
  font-weight: bold;
}

@media (max-width: 767.98px) {
  .tab-nav li a {
    font-size: 0.875rem;
  }
}

.tab-nav li.ui-tabs-active a {
  position: relative;
  top: 1px;
  background-color: #fff;
}

.tabs-bb .tab-nav {
  padding: 0;
}

.tabs-tb .tab-nav li.ui-tabs-active a {
  top: -1px;
  height: 43px;
  line-height: 38px;
  border-top: 2px solid #fff8c6;
}

.tabs-alt.tabs-tb .tab-nav li.ui-tabs-active a {
  height: 42px;
}

/* 별점 */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.25rem;
  line-height: 2rem;
  justify-content: space-around;
  padding: 0 0.1em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
  margin-bottom: 0%;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}

  .star-count {
	position: relative;
    background-color: white;
    width: 47px;
    height: 23px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #2b2a29;
    cursor: pointer;
    -webkit-text-fill-color: gold;
    padding-left: 0.2rem;
    margin-right: 3px;
  }

  .star-rate {
    position: absolute;
    top: 0px;
    right: 5.5px;
    font-size: 0.9rem;
    -webkit-text-stroke-width: 0px;
    -webkit-text-fill-color: black;
  }

/* 카드 */
.card-body h6 {
  font-size: 0.9rem;
}

/* 버튼 CSS */
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-warning {
  background-color: #fff8c6;
  color: black;
}

.btn-outline-warning:hover {
  background-color: #fff8c6;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-outline-danger {
  background-color: #ffb5b5 !important;
  color: black;
}

.btn-outline-danger:hover {
  background-color: #ffb5b5!important;
  color: black;
}

/* 찜 버튼 */
.Heart {
  width: 10%;
  height: 10%;
  position: absolute;
  top: -45px;
  right: 580px;
}

/* 메인 카드 */
.detail-mail-desc {
  left: 50%;
  top: 10%;
}

.card-img-top {
  width: 500px;
  height: 450px;
  overflow: hidden;
}

.score {
  position: absolute;
  width: 100px;
  top: -10px;
  right: 30px;
  transform: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  height: 32px;
  padding: 0 16px 0 26px;
}

.title p {
  display: inline-block;
  margin: 0 0 16px;
  padding: 4px 8px;
  border-radius: 3px;
  background: #f5f5f5;
  font-size: 16px;
  font-weight: 300;
  color: #666;
}

.title a {
  text-decoration: none;
  color: #8f8f8f;
}

.description p {
  padding: 0 30px 30px 0;
  overflow-y: auto;
}

/*=== TripPlace.html ===*/
.img-box {
  height: 470px;
}

.destContent {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.image-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font {
  font-size: 5rem;
  transform: translateY(-250%);
  color: white;
  text-shadow: 2px 2px 2px grey;
}

.owl-carousel .item img {
  border-radius: 5%;
  max-width: 190px;
  max-height: 100px !important;
}

.owl-text-over h6 {
  font-size: 0.8rem;
}

.starTrip {
  color: #fff;
  margin-right: 7px;
  position: absolute;
  top: 75px;
  right: 0px;
}

/*=== loading ===*/
@keyframes ldio-76qwp4fy1ic {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.ldio-76qwp4fy1ic div {
	  position: absolute;
	  width: 70px;
	  height: 70px;
	  border: 10px solid #ffd16e;
	  border-top-color: transparent;
	  border-radius: 50%;
}

.ldio-76qwp4fy1ic div {
	  animation: ldio-76qwp4fy1ic 1s linear infinite;
	  top: 100px;
	  left: 100px
}

.loading {
	  width: 200px;
	  height: 200px;
	  display: none;
	  overflow: hidden;
	  background: #ffffff;
}

.ldio-76qwp4fy1ic {
	  width: 100%;
	  height: 100%;
	  position: relative;
	  transform: translateZ(0) scale(1);
	  backface-visibility: hidden;
	  transform-origin: 0 0; /* see note above */
}

.ldio-76qwp4fy1ic div { box-sizing: content-box; }

/*=== skeleton UI ===*/
.skeleton {
  background-color: #e2e5e7;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}

.skeleton-title {
  min-height: 28px;
  border-radius: 4px;
}

.skeleton-text {
  min-height: 20px;
  border-radius: 4px;
}

/*=== 신고 ===*/

.box-radio-input input[type="radio"]{
  display:none;
}

.box-radio-input input[type="radio"] + span{
  display: inline-block;
  background: none;
  border: 1px solid #b2b2b2;
  padding: 0px 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  font-size: 0.93rem;
  cursor: pointer;
}

.box-radio-input input[type="radio"]:checked + span{
  border:1px solid #f4f3f1;
  background:darkgrey;
  color: #fff;
}

/*=== 날씨 ===*/
#lbBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  background-color: rgba(0,0,0,0.25);
  text-decoration: none;
}

.lb-widget {
  display: block;
  margin: 64px auto;
  width: 50%;
}

.lb-widget .lb-dropdown-select-city {
  float: none;
}

.lb-widget .lb-dropdown-select-city.wide {
  width: 105% !important;
  margin: -35px auto;
  margin-left: -5px;
}

.lb-widget .lb-dropdown-select-city .lbdsc-searchbox {
  width: 98% !important;
}

.lb-widget-01 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lb-main-01 {
  margin: 32px;
  max-width: 240px;
  width: 100%;  
  height: 253px;
}
@media(max-width:1200px) {
  .lb-main-01,
  .lb-main-02 {
    min-width: 120px;
    width: auto;
  }
}

.lb-weather iframe,
.lb-right-weather iframe,
.lb-left-weather iframe {
  display: block;
  border: 0;
  width: 100%;
  height: 245px;
}
