<!DOCTYPE html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <!-- mainstyle CSS -->
  <link rel="stylesheet" type="text/css" href="../../CSS/Common/mainstyle.css">

  <!-- Trip CSS-->
  <link rel="stylesheet" type="text/css" href="../../CSS/Trip/Mainstyle.css">

  <!--owl carousel CSS-->
  <link rel="stylesheet" type="text/css" href="../../OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="../../OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">

  <title>여행지</title>
</head>

<body>
  <!-- 메인 로고와 상단 우측 메뉴 포함한 header> -->
  <header class="blog-header pt-5 py-5">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1"></div>
      <div class="col-4 text-center">
        <img src="../../IMG/Common/logo.png" width="200px">
      </div>
      <!-- 상단 우측 메뉴 -->
      <div class="col-4 d-flex justify-content-center align-items-center mt-3">
        <a class="mr-4 text-nowrap" href="#">로그인</a>
        <a class="mr-4 text-nowrap" href="#">회원가입</a>
        <!--
        <a href="#" class="me-5 align-items-center mb-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart2"
            viewBox="0 0 16 16">
            <path
              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
          </svg>
        </a>
        -->
      </div>
    </div>
    </div>
  </header>

  <div class="container">
    <!-- 메인 메뉴 -->
    <ul class="nav justify-content-between">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false" style="font-size: 1.1em">
          HOME
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">@#$%#^ </a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          플래너
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          여행지
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          위드덕
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">@#$%#^</a></li>
        </ul>
      </li>
    
      <ul class="nav justify-content-end" id="search">
        <form class="d-flex">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown p-0" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <button type="submit" class="btn btn-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
              </button>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"><input class="form-control me-2" type="search" placeholder="Search"
                    aria-label="Search"></a></li>
            </ul>
          </li>
        </form>
      </ul> 
    </ul>
    <hr class="mt-1">
  </div>

<!-- Product section-->
<section>
    <div class="container px-4 px-lg-4 my-3">
        <div class="detail-main row align-items-center position-relative">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/400x400/dee2e6/6c757d.jpg" alt="..." />
              <!-- 빈 하트일때 -->
              <button class="heart-icon-btn" style="background-color: white; border:0px; border-radius: 20%;">
                  <svg
                      xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="heart-icon like-default"
                      viewBox="0 0 16 16">
                      <path
                          d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                  </svg>
              </button>
            </div>
            <div class="detail-mail-desc col-md-6 pl-0 position-absolute">
              <div class="score"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg> 1224</span></div>
              <div class="title">
                <div>
                  <a href="#">홈 ></a>
                  <a href="#">영국 ></a>
                  <a href="#">런던</a>
                </div>
                <h2 class="stu_h2_title">내셔널갤러리</h2>
                <p>런던 예술의 상징</p>
              </div>
              <div class="description">
                <p class="lead" style="font-size: 1rem;">런던 트라팔가르 광장에 있는 국립미술관 내셔널 갤러리는 영국 최초의 국립 미술관입니다. 레오나르도 다빈치부터 고흐까지 연대순으로 전시된 작품을 감상하면서 회화 변천사를 확인해 볼 수 있어요.</p>
              </div>
            </div>
        </div>
        <div id="oc-images" class="owl-carousel image-carousel carousel-widget owl-loaded owl-drag with-carousel-dots mt-4" data-items-lg="5" data-stage-padding="20">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1591px;">
                    <div class="owl-item active" style="width: 207.2px; margin-right: 20px;">
                        <div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/4  00x300/dee2e6/6c757d.jpg" alt="Image 1"></a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 207.2px; margin-right: 20px;">
                        <div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/4  00x300/dee2e6/6c757d.jpg" alt="Image 2"></a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 207.2px; margin-right: 20px;">
                        <div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="Image 3"></a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 207.2px; margin-right: 20px;"><div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="Image 4"></a>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 207.2px; margin-right: 20px;"><div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="Image 5"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 207.2px; margin-right: 20px;"><div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="Image 6"></a>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 207.2px; margin-right: 20px;"><div class="oc-item">
                            <a href="#"><img src="https://dummyimage.com/400x300/dee2e6/6c757d.jpg" alt="Image 7"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p class="h3 mb-0 mt-4">경험해볼 만한 것들</p>
        <div class="row mt-2">
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <img class="card-img-top w-100 h-auto" data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="https://dummyimage.com/300x200/dee2e6/6c757d.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <img class="card-img-top w-100 h-auto" data-src="holder.js/300x200" alt="300x200" src="https://dummyimage.com/300x200/dee2e6/6c757d.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <img class="card-img-top w-100 h-auto" data-src="holder.js/300x200" alt="300x200" src="https://dummyimage.com/300x200/dee2e6/6c757d.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card">
                <img class="card-img-top w-100 h-auto" data-src="holder.js/300x200" alt="300x200" src="https://dummyimage.com/300x200/dee2e6/6c757d.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        
          <div class="tabs tabs-alt tabs-tb clearfix ui-tabs ui-corner-all ui-widget ui-widget-content mt-4" id="tab-8">
            <ul class="tab-nav clearfix ui-tabs-nav" role="tablist">
              <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tabs-active " data-tab="tab-1"><a href="#tab-1">여행지 정보</a></li>
              <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default" data-tab="tab-2"><a href="#tab-2">별점</a></li>
            </ul>

            <div class="tab-container">
              <div id="tab-1" class="tab-content clearfix ui-tabs-active " aria-hidden="">
                <p>구글 맵스, 날씨, 등 넣어야함 ~~</p>
                <div id="map" style="width:350px; height:350px;"></div>
              </div>
              <div id="tab-2" class="tab-content clearfix" aria-hidden="" style="display: none;">
                <section class="mb-5">
                  <div class="card bg-light">
                      <div class="card-body pt-2">
                          <!-- Comment form-->
                          <form class="mb-2 ">
                            <div class="star-rating space-x-4 mx-auto float-left ">
                              <input type="radio" id="5-stars" name="rating" value="5" v-model="ratings"/>
                              <label for="5-stars" class="star">★</label>
                              <input type="radio" id="4-stars" name="rating" value="4" v-model="ratings"/>
                              <label for="4-stars" class="star">★</label>
                              <input type="radio" id="3-stars" name="rating" value="3" v-model="ratings"/>
                              <label for="3-stars" class="star">★</label>
                              <input type="radio" id="2-stars" name="rating" value="2" v-model="ratings"/>
                              <label for="2-stars" class="star">★</label>
                              <input type="radio" id="1-star" name="rating" value="1" v-model="ratings" />
                              <label for="1-star" class="star">★</label>
                            </div>
                            <button class="btn btn-outline-warning btn-sm float-right" type="submit">등록</button>
                            <p class="pt-2" style="font-size: 0.9em;">별점을 선택해주세요</p>
                            
                            <textarea class="form-control shadow-none" rows="3" placeholder="리뷰를 남겨주세요" style="resize: none;"></textarea>
                              <p class="mt-1 col p-0" style="font-size: 11px;">2022.09.16 01:30
                              </p>
                            
                          </form>
                          <!-- Comment with nested comments-->
                          <div class="d-flex mb-4">
                              <!-- Parent comment-->
                              <div class="flex-shrink-0"><img class="rounded-circle" src="../../IMG/Common/프사.png" alt="..." style="height: 50px; width: 50px; object-fit:contain ;" ></div>
                              <div class="ms-3 w-100">
                                <p style="font-weight: bold;">짹짹이 김여울</p>
                                  <div class="float-right">
                                    <button class="btn btn-outline-warning py-0">수정</button>
                                    <button class="btn btn-outline-warning py-0">삭제</button>
                                  </div>
                                    <p>아싸 해산!!!</p>
                                  <!-- Child comment 1-->
                                  <div class="d-flex mt-2">
                                      <div class="flex-shrink-0"><img class="rounded-circle" src="../../IMG/Common/프사.png" alt="..." style="height: 50px; width: 50px; object-fit:contain ;"></div>
                                      <div class="ms-3 w-100">
                                        <p style="font-weight: bold;">선긋기 김민주</p>
                                          <div class="float-right">
                                            <button class="btn btn-outline-warning py-0">수정</button>
                                            <button class="btn btn-outline-warning py-0">삭제</button>
                                          </div>
                                            <p>저 빼고 재밌는 이야기하지 마세여</p>
                                      </div>
                                  </div>
                                  <!-- Child comment 2-->
                                  <div class="d-flex mt-3">
                                      <div class="flex-shrink-0"><img class="rounded-circle" src="../../IMG/Common/프사.png" alt="..." style="height: 50px; width: 50px; object-fit:contain ;"></div>
                                      <div class="ms-3 w-100">
                                        <p style="font-weight: bold;">코드의마법사 박노경</p>
                                          <div class="float-right">
                                            <button class="btn btn-outline-warning py-0">수정</button>
                                            <button class="btn btn-outline-warning py-0">삭제</button>
                                          </div>
                                            <p>사는게 쉽지가 않네요...</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          

                          <!-- Single comment-->
                          <div class="d-flex">
                              <div class="flex-shrink-0"><img class="rounded-circle" src="../../IMG/Common/프사.png" alt="..." style="height: 50px; width: 50px; object-fit:contain ;"></div>
                              <div class="ms-3 w-100">
                                <p style="font-weight: bold;">무게치는 이건호</p>
                                  <div class="float-right">
                                    <button class="btn btn-outline-warning py-0">수정</button>
                                    <button class="btn btn-outline-warning py-0">삭제</button>
                                  </div>
                                    <p>계란후라이 먹었어요</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </section>
                </div>
              </div>
            </div>
          </div>
        </div>


        
        
      </div>
</section>

<!-- 푸터 임의로 넣음-->
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </footer>
  </div>

  <!--jQuery-->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  <!--owl carousel JS -->
  <script src="../../OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <script src="../../OwlCarousel2-2.3.4/src/js/owl.autoplay.js"></script>
  <script src="../../OwlCarousel2-2.3.4/src/js/owl.navigation.js"></script>
  <script src="../../JS/Trip/Mainstyle.js"></script>

  <script src="https://maps.google.com/maps/api/js?key=YOUR-API-KEY"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9ffc9caebebf866316d34a68b425adfd"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
          center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };
  
  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
  
  // 마커가 표시될 위치입니다 
  var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667); 
  
  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      position: markerPosition
  });
  
  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);
  
  // 마커가 드래그 가능하도록 설정합니다 
  marker.setDraggable(true); 
  </script>

</body>
</html>
