.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.h-dropout {
    padding-left: 120px;
}

.dropout {
    width: 800px;
    border: 1px solid #808080;
}

/* 탈퇴 사유 */
.reason-dropout {
    padding-bottom: 50px;
}

#dropoutOption {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 20px 10px; */
    padding-top: 35px;
    padding-left: 20px;
}

.form-check-input {
    color: #fabf42;
}

/* 버튼 */
.memberOutBtn {
    text-align: center;
}
