/* font-family 눈누폰트 - pretendard */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* 메뉴 호버 기능 */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border: none;
  /* box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1); */
  border-left: 2px solid #fff8c6;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

/* 호버 메뉴 삼각형 안보이게 */
::after {
  color: white;
}

/* 링크 파랑색 밑줄 효과 삭제 */
A:link {
  text-decoration: none;
  color: black;
}

A:visited {
  text-decoration: none;
  color: black;
}

/* 비디오 */
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 0.3s 1s ease;
}

/* 비디오 텍스트 애니메이션 추가 */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.fadeInUp {
  position: relative;
  animation: fadeInUp 1s;
}
